backcall==0.1.0
chardet==2.2.1
click==6.7
colorama==0.2.5
decorator==4.3.0
Flask==1.0.2
fuzzywuzzy==0.17.0
html5lib==0.999
ipython==6.5.0
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.12.1
Jinja2==2.10
MarkupSafe==1.0
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==1.0.15
ptyprocess==0.6.0
pycurl==7.19.3
Pygments==2.2.0
pygobject==3.12.0
python-apt===0.9.3.5ubuntu2
python-Levenshtein==0.12.0
requests==2.2.1
simplegeneric==0.8.1
six==1.5.2
traitlets==4.3.2
typing==3.6.6
unattended-upgrades==0.1
urllib3==1.7.1
wcwidth==0.1.7
Werkzeug==0.14.1
